<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppIdentifierPrefix</key>
	<string>$(AppIdentifierPrefix)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>supabase-auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.milesto-ai.auth</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>tabler-icons.ttf</string>
		<string>geist-regular.otf</string>
		<string>geist-medium.otf</string>
		<string>geist-semibold.otf</string>
		<string>geist-bold.otf</string>
	</array>
</dict>
</plist>
